ponkotsu-test-app/tmp/*
ponkotsu-test-app/config/master.keys
ponkotsu-test-app/db/*.sqlite3
ponkotsu-test-app/db/*.sqlite3-journal
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.idea
