<%
  _form = form
  _content = content
  placeholder = options[:placeholder]
%>

<div class="editor-container">
  <div id="editor_content"
       contenteditable="true"
       data-field="content"
       class="form-control markdown-textarea">
    <%= raw _content %>
  </div>

  <div id="editor_content_placeholder">
    <%= placeholder %>
  </div>

  <%= _form.hidden_field _content, id: "content_hidden_field" %>

  <%= render "ponkotsu_md_editor/preview_area" %>
</div>