<%
  _form = locals[:form]
  _placeholder = locals[:options][:placeholder]
%>

<div class="editor-container">
  <div id="editor_content"
       contenteditable="true"
       data-field="content"
       class="form-control markdown-textarea">
    <%= h(locals[:content]) %>
  </div>

  <div id="editor_content_placeholder">
    <%= _placeholder %>
  </div>

  <%= _form.hidden_field locals[:attribute], id: "content_hidden_field" %>

  <%= render "ponkotsu_md_editor/preview_area" %>
</div>