<%
  _form = locals[:form]
  _placeholder = locals[:options][:placeholder]
%>

<div class="editor-container">
  <div id="editor_content"
       contenteditable="true"
       data-field="content"
       class="ponkotsu-md-editor-form-control ponkotsu-md-editor-markdown-textarea"
       translate="no"
       data-notranslate="true"
       data-gramm="false"
       data-gramm_editor="false"
       data-enable-grammarly="false"
       spellcheck="false">
    <%
      def crlf_to_br(text)
        text.gsub(/\r\n|\r|\n/, "<br>").html_safe
      end
    %>
    <%= crlf_to_br(h(locals[:content])) %>
  </div>

  <div id="editor_content_placeholder"
       translate="no"
       data-notranslate="true">
    <%= _placeholder %>
  </div>

  <%= _form.hidden_field locals[:attribute], id: "content_hidden_field" %>

  <%= render "ponkotsu_md_editor/preview_area" %>
</div>